<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>RCTWeChat.xcscheme_^#shared#^_</key>
		<dict>
			<key>isShown</key>
			<true/>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
		<key>RCTWeChatTests.xcscheme_^#shared#^_</key>
		<dict>
			<key>isShown</key>
			<true/>
			<key>orderHint</key>
			<integer>1</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>10D6D7881F160B720066F0F3</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>10D6D7951F160C0B0066F0F3</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>10D6D7A31F160C250066F0F3</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>86D238411BD0BB9E00C75D01</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
